@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
  min-height: 100VH;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.modal {
  border-radius: 1rem !important;
}

.modal-content { 
  border-radius: 1rem;
}

* {
  font-family: MagicMedieval;
}

p {
  max-width: 80ch;
  font-size: 16px;
}

.h-100 {
  height: 100%;
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}
.transition-sm {
  transition: ease-in-out 2s;
}

li {
  max-width: 80ch;
  font-size: 16px;
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.modal-backdrop {
  position: static !important;
}